# The Education in Tamilnadu, India

In [2]:
import pandas as pd
import numpy as np

In [3]:
pip install xlrd

Collecting xlrd
  Downloading https://files.pythonhosted.org/packages/b0/16/63576a1a001752e34bf8ea62e367997530dc553b689356b9879339cf45a4/xlrd-1.2.0-py2.py3-none-any.whl (103kB)
     |████████████████████████████████| 112kB 14.3MB/s eta 0:00:01
Installing collected packages: xlrd
Successfully installed xlrd-1.2.0
Note: you may need to restart the kernel to use updated packages.

### Reading Files with gender Data

In [4]:
gender=pd.read_csv('enrollement_schoolmanagement_2.csv')

In [5]:
gender.head()

,S.No,District,Govt Boys,Govt Girls,Govt Total,Private Aided Boys,Private Aided Girls,Private Aided Total,Private Unaided Boys,Private Unaided Girls,Private Unaided Total,Grand Total Boys,Grand Total Girls,Grand Total
0,1,ARIYALUR,37475,36642,74117,8822,12524,21346,20453,14783,35236,66750,63949,130699
1,2,CHENNAI,45046,54260,99306,80197,93383,173580,244490,222777,467267,369733,370420,740153
2,3,COIMBATORE,79306,85899,165205,34089,40627,74716,170440,154029,324469,283835,280555,564390
3,4,CUDDALORE,88116,96313,184429,37567,38850,76417,106990,81252,188242,232673,216415,449088
4,5,DHARMAPURI,80521,85207,165728,2763,1974,4737,58802,43665,102467,142086,130846,272932

In [6]:
gender.shape

(33, 14)

### File with Location coordinates

In [14]:
location=pd.read_excel('lat lon.xlsx')

In [15]:
location.head()

          Location   Latitude  Longitude
0   Adirampattinam  10° 21' N  79° 25' E
1     Ambasamudram   8° 43' N  77° 29' E
2            Ambur  21° 50' N  78° 45' E
3  Anaimalai Hills  10° 24' N  76° 40' E
4        Arakkonam  13° 05' N  79° 43' E

## Cleaning Data

In [17]:
location['Latitude']=location['Latitude'].str.replace("' N","")
location.head()

          Location Latitude  Longitude
0   Adirampattinam    10.21  79° 25' E
1     Ambasamudram     8.43  77° 29' E
2            Ambur    21.50  78° 45' E
3  Anaimalai Hills    10.24  76° 40' E
4        Arakkonam    13.05  79° 43' E

In [23]:
location['Longitude']=location['Longitude'].str.replace("°",".")
location.head()

          Location  Latitude Longitude
0   Adirampattinam     10.21     79.25
1     Ambasamudram      8.43     77.29
2            Ambur     21.50     78.45
3  Anaimalai Hills     10.24     76.40
4        Arakkonam     13.05     79.43

In [20]:
location['Latitude']=location['Latitude'].astype(float)

In [24]:
location['Longitude']=location['Longitude'].astype(float)

In [25]:
location.head()

          Location  Latitude  Longitude
0   Adirampattinam     10.21      79.25
1     Ambasamudram      8.43      77.29
2            Ambur     21.50      78.45
3  Anaimalai Hills     10.24      76.40
4        Arakkonam     13.05      79.43

In [26]:
gender['District']=gender['District'].str.replace(" ","")

In [27]:
gender.head()

,S.No,District,Govt Boys,Govt Girls,Govt Total,Private Aided Boys,Private Aided Girls,Private Aided Total,Private Unaided Boys,Private Unaided Girls,Private Unaided Total,Grand Total Boys,Grand Total Girls,Grand Total
0,1,ARIYALUR,37475,36642,74117,8822,12524,21346,20453,14783,35236,66750,63949,130699
1,2,CHENNAI,45046,54260,99306,80197,93383,173580,244490,222777,467267,369733,370420,740153
2,3,COIMBATORE,79306,85899,165205,34089,40627,74716,170440,154029,324469,283835,280555,564390
3,4,CUDDALORE,88116,96313,184429,37567,38850,76417,106990,81252,188242,232673,216415,449088
4,5,DHARMAPURI,80521,85207,165728,2763,1974,4737,58802,43665,102467,142086,130846,272932

In [28]:
location['Location']=location['Location'].str.replace(" ","")

## Checking Values in specific columns that are to be matched

In [30]:
gender['District'].values

array(['ARIYALUR', 'CHENNAI', 'COIMBATORE', 'CUDDALORE', 'DHARMAPURI',
       'DINDIGUL', 'ERODE', 'KANCHEEPURAM', 'KANNIYAKUMARI', 'KARUR',
       'KRISHANAGIRI', 'MADURAI', 'NAGAPATTINAM', 'NAMAKKAL',
       'PERAMBALUR', 'PUDUKKOTTAI', 'RAMANATHAPURAM', 'SALEM',
       'SIVAGANGA', 'THANJAVUR', 'THENILGIRIS', 'THENI', 'THIRUVALLUR',
       'THIRUVARUR', 'THOOTHUKKUDI', 'TIRUCHIRAPPALLI', 'TIRUNELVELI',
       'TIRUVANNAMALAI', 'Tiruppur', 'VELLORE', 'VILUPPURAM',
       'VIRUDHUNAGAR', 'StateTotal'], dtype=object)

In [44]:
location.iloc[1,0].upper()[:3]

'AMB'

In [23]:
location.shape

(110, 3)

In [31]:
location['Location'].values

array(['Adirampattinam', 'Ambasamudram', 'Ambur', 'AnaimalaiHills',
       'Arakkonam', 'Arantangi', 'Arcot', 'Arni', 'Aruppukkotai', 'Attur',
       'Atur', 'Bodinayakkanur', 'Calimere,Point', 'Carnatic',
       'Chidambaram', 'Chingleput', 'Coimbatore', 'Comorin,C.',
       'CoromandelCoast', 'Cuddalore', 'Devakottai', 'Dhanushkodi',
       'Dharapuram', 'Dharmapuri', 'Dindigul', 'Dodabetta.Mt.', 'Ennore',
       'Erode', 'FortStDavid', 'FortStGeorge', 'Gudiyatam', 'Hospur',
       'Jalarpet', 'Javadihills', 'Kanchipuram', 'Karur', 'KaveriR.',
       'Kayalpatnam', 'Kilakarai', 'Kodaikanal', 'Krishnagiri',
       'Kumbakonam', 'Madras(Chennai)', 'Madurai', 'Madurantakam',
       'Mahabalipuram', 'Mannargudi', 'Mayuram', 'Mettupalaiyam',
       'MetturDam', 'NagarjunasagarDam', 'Nagercoil', 'Namakkal',
       'Nanguneri', 'Neiveli', 'PachaimalaiHills', 'Padmanabhapuram',
       'Palayankottal', 'Palladam', 'Pallavaram', 'Pallivasal',
       'PalniHills', 'Panruti', 'Paramakkudi', 'Pattukkottal',
       'Perambalur', 'Periyakulam', 'Pollachi', 'Ponneri', 'PortoNovo',
       'Pudukkottal', 'Pulicat,L.', 'Rajapalayam', 'Ramanathapuram',
       'Rameswaram', 'Salem', 'Sankaranayinarkovil', 'Sattur',
       'Satyamangalam', 'SevenPagodas', 'shencottah', 'shevaroyHills',
       'St.ThomasMount', 'Tenkasi', 'Thanjavur(Tanjore)', 'Tindivanam',
       'Tiruchchirappalli', 'Tiruchendur', 'Tiruchengodu', 'Tirukkoyilur',
       'Tirumangalam', 'Tirunelveli', 'Tiruppur', 'Tiruvallur',
       'Tiruvannamalai', 'Tondi', 'Tranquebar', 'Turaiyur', 'Tuticorin',
       'Udagamandalam', 'Udamalpet', 'Udiyarpalaiyam', 'Uttangarai',
       'Vaniyambadi', 'Vellore', 'Villupuram', 'Virudhunagar',
       'Vriddhachalam', 'Wandiwash', 'Yercaud'], dtype=object)

In [120]:
print(location[location['Location'].str.contains("Dharapuram")])

      Location  Latitude  Longitude
22  Dharapuram     10.45      77.34

In [34]:
print(location[location['Location'].str.contains("Chennai")])

           Location  Latitude  Longitude
42  Madras(Chennai)     13.04      80.17

In [35]:
location.iloc[42,0]='Chennai'

In [36]:
for i in gender.index:
    for j in location.index:
        if(gender.iloc[i,1]==location.iloc[j,0].upper()):
            print(gender.iloc[i,1],location.iloc[j,0].upper())

CHENNAI CHENNAI
COIMBATORE COIMBATORE
CUDDALORE CUDDALORE
DHARMAPURI DHARMAPURI
DINDIGUL DINDIGUL
ERODE ERODE
KARUR KARUR
MADURAI MADURAI
NAMAKKAL NAMAKKAL
PERAMBALUR PERAMBALUR
RAMANATHAPURAM RAMANATHAPURAM
SALEM SALEM
THANJAVUR THANJAVUR
TIRUNELVELI TIRUNELVELI
TIRUVANNAMALAI TIRUVANNAMALAI
VELLORE VELLORE
VIRUDHUNAGAR VIRUDHUNAGAR

## For loop that identifies Place names with spelling Errors to a small extent

In [37]:
for i in gender.index:
    for j in location.index:
        if(gender.iloc[i,1]==location.iloc[j,0].upper()):
            print(gender.iloc[i,1],location.iloc[j,0].upper())
        else:
            l=len(gender.iloc[i,1])
            while(l!=0):
                if(gender.iloc[i,1][:l-1]==location.iloc[j,0].upper()[:l-1]) & (gender.iloc[i,1][:l]!=location.iloc[j,0].upper()[:l]):
                    if(l>4):
                        gender.iloc[i,1]=location.iloc[j,0]
                        print(gender.iloc[i,1][:l],location.iloc[j,0][:l])
                l=l-1
            
                #if(gender.iloc[i,1][:k]==location.iloc[j,0].upper()[:k]) & (gender.iloc[i,1][:k+1]!=location.iloc[j,0].upper()[:k+1]):
                 #   print(gender.iloc[i,1][:k],location.iloc[j,0].upper()[:k])

CHENNAI CHENNAI
COIMBATORE COIMBATORE
CUDDALORE CUDDALORE
Dhara Dhara
DINDIGUL DINDIGUL
ERODE ERODE
Kanchi Kanchi
KARUR KARUR
Krishn Krishn
MADURAI MADURAI
Maduran Maduran
Nagar Nagar
NAMAKKAL NAMAKKAL
PERAMBALUR PERAMBALUR
Pudukkottal Pudukkottal
RAMANATHAPURAM RAMANATHAPURAM
SALEM SALEM
THANJAVUR THANJAVUR
Tiruchc Tiruchc
Tiruc Tiruc
Tiruc Tiruc
VELLORE VELLORE
VIRUDHUNAGAR VIRUDHUNAGAR

In [38]:
lat=[]
for i in gender.index:
    lat.append(None)

In [39]:
for i in gender.index:
    for j in location.index:
        if(gender.iloc[i,1]==location.iloc[j,0].upper()):
            lat[i]=location.iloc[j,1]

In [40]:
gender['lat']=lat

In [41]:
lon=[]
for i in gender.index:
    lon.append(None)

In [42]:
for i in gender.index:
    for j in location.index:
        if(gender.iloc[i,1]==location.iloc[j,0].upper()):
            lon[i]=location.iloc[j,2]

In [43]:
gender['lon']=lon

In [44]:
gender.head()

,S.No,District,Govt Boys,Govt Girls,Govt Total,Private Aided Boys,Private Aided Girls,Private Aided Total,Private Unaided Boys,Private Unaided Girls,Private Unaided Total,Grand Total Boys,Grand Total Girls,Grand Total,lat,lon
0,1,ARIYALUR,37475,36642,74117,8822,12524,21346,20453,14783,35236,66750,63949,130699,NaN,NaN
1,2,CHENNAI,45046,54260,99306,80197,93383,173580,244490,222777,467267,369733,370420,740153,13.04,80.17
2,3,COIMBATORE,79306,85899,165205,34089,40627,74716,170440,154029,324469,283835,280555,564390,11.00,77.00
3,4,CUDDALORE,88116,96313,184429,37567,38850,76417,106990,81252,188242,232673,216415,449088,11.43,79.49
4,5,Dharapuram,80521,85207,165728,2763,1974,4737,58802,43665,102467,142086,130846,272932,NaN,NaN

In [46]:
gen=gender[['District','Grand Total Boys','Grand Total Girls','lat','lon']]
gen.shape

(33, 5)

In [47]:
gen.dropna(subset=['lat'],axis=0,inplace=True)

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [48]:
gen.reset_index(drop=True)

          District  Grand Total Boys  Grand Total Girls    lat    lon
0          CHENNAI            369733             370420  13.04  80.17
1       COIMBATORE            283835             280555  11.00  77.00
2        CUDDALORE            232673             216415  11.43  79.49
3         DINDIGUL            178282             170371  10.22  78.00
4            ERODE            174942             168101  11.20  77.46
5            KARUR             84349              81224  10.58  78.07
6         NAMAKKAL            147203             133677  11.13  78.13
7       PERAMBALUR             55782              50702  11.14  78.56
8   RAMANATHAPURAM            110780             110029   9.22  78.52
9            SALEM            299710             282766  11.39  78.12
10       THANJAVUR            204678             202486  10.47  79.10
11         VELLORE            330670             322668  12.55  79.11
12    VIRUDHUNAGAR            167977             167713   9.35  77.57

# Visualising the Data

In [117]:
import folium
map=folium.Map(location=[11.12,78.65],zoom_start=6)

In [118]:
for i in range(0,len(gen)):
    folium.CircleMarker(
      location=[gen.iloc[i]['lat'], gen.iloc[i]['lon']],
      popup=gen.iloc[i]['District'],
      label=gen.iloc[i]['District'],
      radius=float(gen.iloc[i]['Grand Total Boys']/10000),
      color='blue',fill=True).add_to(map)
    
for i in range(0,len(gen)):
    folium.CircleMarker(
      location=[gen.iloc[i]['lat'], gen.iloc[i]['lon']],
      popup=gen.iloc[i]['District'],
      radius=float(gen.iloc[i]['Grand Total Girls']/10000),
      color='red',fill=True).add_to(map)

map